{% extends 'base.html' %}

{% block title %}
    Simulation
{% endblock %}

{% block navbar_items %}
    {{ super() }}
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="#"></a>
    <a href="{{ url_for('logout') }}" class="logout-btn">Log out</a>
{% endblock %}


{% block content %}
    {{ super() }}
    <div id="landing">
        {% for msg in get_flashed_messages() %}
            <h4 class="flash-msg">{{ msg }}</h4>
        {% endfor %}
        <p class="display-4">Welcome, {{ user.name }}</p>

        <div id="setup">
            <div class="intro">
                <p class="h6">Change password</p>
                <p>Set the initial simulation parameters.</p>
            </div>
        </div>
        <div>
            <form class="form-signin" action="{{ url_for('change_password', user_id=current_user.id) }}" method="post">
                <h1 class="display-6">Change password</h1>
                <label for="password_old" class="sr-only">Old Password</label>
                <input type="text" name="password_old" placeholder="Old Password" class="form-control" required/>
                <label for="password_new" class="sr-only">New Password</label>
                <input type="password" name="password_new" placeholder="New Password" class="form-control" required />
                <label for="password_confirm" class="sr-only">Confirm New Password</label>
                <input type="password" name="password_confirm" placeholder="Confirm New Password" class="form-control" required />
                <button class="btn btn-outline-dark btn-block btn-landing" type="submit">Change Password</button>
            </form>
        <a href="{{ url_for('delete_account') }}" class="btn btn-outline-danger btn-block btn-landing logout-btn">Delete account</a>
        </div>
    </div>
{% endblock %}