{% extends 'base.html' %}

{% block title %}
Simulation
{% endblock %}

{% block navbar_items %}
    {{ super() }}
    <a href="#" class="grey-out">Logged as {{ user.name }}</a>
{% endblock %}

{% block navbar_main %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0M4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5"/>
    </svg>
{% endblock %}

{% block content %}
    <div id="landing">
    <p class="display-4">Library Simulation</p>
        <div id="setup">
            <div class="intro">
                <p class="h6">Setup</p>
                <p>Set the simulation iterations and sub-iterations</p>
            </div>
            <p>
                <label for="iters"><span class="rounded-pill bg-primary font-weight-bold" style="padding:4px 20px; color:white">Number of iterations</span></label>
            </p>
            <p class="range-inp">
                <input type="range" min="1" max="100" id="iters" value="10" name="iters" oninput="this.nextElementSibling.value = this.value">
                <output>10</output>
            </p>
            <p>
                <label for="actions"><span class="rounded-pill bg-primary font-weight-bold" style="padding:4px 20px; color:white;">Number of sub-iterations</span></label>
            </p>
            <p class="range-inp">
                <input type="range" min="1" max="10" id="actions" value="2" name="actions" oninput="this.nextElementSibling.value = this.value">
                <output>2</output>
            </p>
        </div>
        <a href="#start-sim"><button id="start-sim" class="btn btn-dark">START SIMULATION</button></a>
    </div>
    <div id="sim">
        <ul id="sim-messages"></ul>
    </div>

    <script>
        document.getElementById('start-sim').addEventListener('click', function() {
        let socket = io();
        let iters = document.getElementById('iters').value;
        let actions = document.getElementById('actions').value;
        document.getElementById("return-main").href = "#";
        document.getElementById('start-sim').disabled = true;
        socket.on('connect', function() {
            socket.emit('message', iters, actions);
        });
        socket.on('message', function(msg) {
            if (msg === undefined) {
                document.getElementById('start-sim').innerHTML = "CONTINUE SIMULATION"
                document.getElementById('start-sim').disabled = false;
                document.getElementById("return-main").href = "{{ url_for('main') }}";
                let list = document.getElementById("sim-messages");
                let entry = document.createElement('li');
                entry.appendChild(document.createTextNode('/'.repeat(41) + ' SIMULATION PAUSED ' + '\\'.repeat(41)));
                list.appendChild(entry);
                socket.disconnect()
            } else {
                let list = document.getElementById("sim-messages");
                let entry = document.createElement('li');
                entry.appendChild(document.createTextNode(msg));
                list.appendChild(entry);
            }
        });
        socket.on('redirect', function (data) {
            window.location = data.url;
        });
    })
    </script>
{% endblock %}